:root {
    --main-color: #fff
}

body {
    background-color: var(--main-color);
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    height: 1000vh;

}

/* start navbar */
.navbar {
    height: 88px;
}

@media (max-width: 991px) {
    .links-section {
        background-color: transparent;
        backdrop-filter: blur(10px);
        text-align: center;
        margin-top: 27px;
    }

    .links-section a {
        margin: 10px auto;
        font-weight: 500;
        font-size: 24px;
        width: 75%;
        border-radius: 40px;
        background-color: #fff;
        color: #FF2753;
    }

    .last-section {
        display: none;
    }

}

.navbar .brand-name {
    padding: 10px 16px 13px;
    border-right: 1px solid #9C9696;
    margin-right: 32px;
    font-family: 'Sansita Swashed';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    background: linear-gradient(90deg, rgba(123, 84, 242, 0.84) 0%, rgba(153, 0, 221, 0.653333) 0%, rgba(255, 102, 126, 0.84) 75%, rgba(255, 171, 111, 0.871111) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navbar .links-section {
    font-size: 24px;
    font-weight: 500;
}

.navbar .links-section a {
    padding: 10px;
}

.navbar .links-section .active,
.navbar .links-section a:hover,
.navbar .links-section a:focus {
    transform: scale(1.1);
    transition: all 0.3s linear;
    font-weight: 600;
}

/* end navbar */


/* start hero */
.hero {
    background-image: url('../images/hero2.png');
    background-color: #D4505A;
    background-size: cover;
    background-position: center;
    background-position-y: 25%;
    position: relative;
    right: 100;
    background-repeat: no-repeat;
    max-width: 100%;
    height: calc(100vh - 88px);
}

@media (max-width:1024px) {
    .herp p {
        font-size: 4rem;
    }
}


.hero .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 386px;
}

.hero .text {
    font-family: 'Sansation';
    font-size: 5rem;
    font-weight: 700;
    line-height: 96px;
    text-align: start;
    width: fit-content;
    color: #fff;

}

@media (max-width: 1024px) {
    .hero .text {
        font-size: 60px;
        line-height: 60px;
    }
}

.hero .text p {
    margin-bottom: 1.6rem;
}

.hero a {
    background-color: #fff;
    color: #FF2753EE;
    font-weight: 600;
    font-size: 24px;
    border-radius: 40px;
    line-height: 24px;
    border: 1px solid #DADBDF;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins';
    padding: 20px 3.188rem;
}

/* end hero */

/* start details */

.details {
    background-color: #FFF5FE;
    height: calc(100vh - 88px);
}

.details .content {
    padding: 100px 61px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    align-items: start;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    height: 560px;
}

.details img {
    width: 100%;
    height: auto;
}

.details .content .box .text {
    padding: 0 1rem;
}

.details .content .box .text h2 {
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 400;
    padding-top: 50px;
    margin-bottom: 20px;
}

.details .content .box .text p {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 33.6px;
    color: #585E71;
}

.details .content a {
    background-color: #FF2753;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    border-radius: 40px;
    border: 1px solid #fff;
    font-family: 'Poppins';
    padding: 6px 35px;
    margin-top: 32px;
    margin-left: 12px;
}

@media (max-width: 1199px) {
    .details .content {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0;
    }

    .details {
        height: auto;
        margin-top: -24px;
    }

    .details .content .box .text h2 {
        font-size: 40px;
        margin-top: -40px;
    }

    .details img {
        display: none;
    }

    .details .content .box .text p {
        font-size: 18px;
    }
}

/* end details */