:root {
    --main-color: #fff;
    --yellow-color: #F4E7CD;
    --purple-color: #F6DCFF;
    --green-color: #DDE8C1;
    --white-color: #fff;
    --hovered-color: #C85ED7;

}

body {
    background-color: var(--main-color);
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    user-select: none;
}

/* start navbar */
.navbar {
    height: 80px;
}

@media (max-width: 991px) {
    .links-section {
        background-color: transparent;
        backdrop-filter: blur(10px);
        text-align: center;
        margin-top: 27px;
    }

    .links-section a {
        margin: 10px auto;
        font-weight: 500;
        font-size: 24px;
        width: 75%;
        border-radius: 40px;
        background-color: #fff;
        color: #FF2753;
    }

    .last-section {
        display: none;
    }

}

.navbar .brand-name {
    padding: 10px 16px 13px;
    border-right: 1px solid #9C9696;
    margin-right: 32px;
    font-family: 'Sansita Swashed';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    background: linear-gradient(90deg, rgba(123, 84, 242, 0.84) 0%, rgba(153, 0, 221, 0.653333) 0%, rgba(255, 102, 126, 0.84) 75%, rgba(255, 171, 111, 0.871111) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
@media (max-width:768px) {
    .navbar .brand-name {
        font-size: 28px;
        padding: 10px 16px 13px 8px;
        margin: 0 !important;
        border: none;
    }
}

.navbar .links-section {
    font-size: 16px;
    font-weight: 600;
    color: #404040;
}

.navbar .links-section a {
    padding: 26px;
    transition: all 0.3s linear;
}

.navbar .links-section .active,
.navbar .links-section a:hover {
    font-weight: 600;
    color: #C85ED7 !important;
    border-bottom: 4px solid #C85ED7;
}

.navbar .last-section ul li:nth-child(2)::after {
    font-size: 12px;
    content: attr(cart-number);
    background-color: var(--hovered-color);
    position: absolute;
    padding: 1px 6px;
    border-radius: 50%;
    font-weight: 500;
    color: #fff;
    top: 5px;
    right: 1px;
}

/* end navbar */

/* start hero */
.hero {
    background-image: url('../images/hero2.png');
    background-color: #D4505A;
    background-size: cover;
    background-position: center;
    background-position-y: 25%;
    position: relative;
    right: 100;
    background-repeat: no-repeat;
    max-width: 100%;
    height: calc(100vh - 80px);
}

@media (max-width:1024px) {
    .herp p {
        font-size: 4rem;
    }
}


.hero .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 386px;
}

.hero .text {
    font-family: 'Sansation';
    font-size: 5rem;
    font-weight: 700;
    line-height: 96px;
    text-align: start;
    width: fit-content;
    color: #fff;

}

@media (max-width: 1024px) {
    .hero .text {
        font-size: 60px;
        line-height: 60px;
    }
}

.hero .text p {
    margin-bottom: 1.6rem;
}

.hero a {
    background-color: #fff;
    color: #FF2753EE;
    font-weight: 600;
    font-size: 24px;
    border-radius: 40px;
    line-height: 24px;
    border: 1px solid #DADBDF;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins';
    padding: 20px 3.188rem;
    transition: all 0.3s linear;
}

.hero a:hover {
    background-color: #FF2753EE;
    color: #fff;
}

/* end hero */

/* start details */

.details {
    background-color: #FFF5FE;
    padding: 88px 0;
}

.details .content .text h2 {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 400;
    padding-top: 30px;
    margin-bottom: 20px;
}

.details .content .text p {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 33.6px;
    color: #585E71;
}

.details .content a {
    background-color: #FF2753;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    border-radius: 40px;
    border: 1px solid #fff;
    font-family: 'Poppins';
    padding: 6px 35px;
    margin-top: 32px;
}

.details .content a:hover {
    background-color: #fff;
    color: #FF2753;
}

@media (max-width: 991px) {
    .details .content {
        text-align: center;
        padding: 0;
    }

    .details {
        height: auto;
        margin-top: -36px;
    }

    .details .content .text h2 {
        font-size: 32px;
    }

    .details .content .text p {
        font-size: 18px;
    }

    .details a {
        margin-left: 0 !important;
    }
}



/* end details */
/* start category */
.main-title {
    font-family: Poppins;
}

.main-title h2 {
    color: #0D0D0D;
    font-weight: 700;
    font-size: 32px;
}

.cagetory .main-title p {
    color: #0D0D0D;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}

.cagetory img {
    border-radius: 5px;
    transition: all 0.3s linear;
}

.cagetory .row div:hover {
    transform: scale(1.01);
}

.category .row h3 {
    font-weight: 600;
    font-size: 1rem;
    color: #333333;
}

@media (max-width:768px) {
    .cagetory .main-title p {
        font-size: 18px;
    }
}

/* end category */

/* start popular */
.popular {
    padding-top: 30px;
}

.popular .row {
    margin: 150px auto;
}

.popular .box {
    background-color: #FFF5FE;
    padding: 180px 10px;
    border-radius: 69px;
    position: relative;
    margin-bottom: 10px;
}

.popular .box .circle {
    position: absolute;
    padding: 112px;
    border-radius: 50%;
    background-color: var(--yellow-color);
    top: -96px;
    left: 50%;
    transform: translateX(-50%);
}

.popular #box1 .circle {

    background-color: var(--yellow-color);
}

.popular #box2 .circle {

    background-color: var(--purple-color);
}

.popular #box3 .circle {
    background-color: var(--green-color);

}


.popular .box img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -90px;
    width: 100%;
    height: 301px;
}


.popular .box .text {
    position: absolute;
    left: 50%;
    top: 145px;
    transform: translateX(-50%);
    text-align: center;
}

.popular .box .text h4 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    text-wrap: nowrap;
}

.popular .box .text p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
}

.popular .box .text p span {
    padding: 8px;
}

.popular .box .text p span:last-child {
    text-decoration: line-through;
}


.popular .box .text .colors a {
    padding: 2px 13px;
    border-radius: 50%;
    display: inline;
    margin: 10px 5px;
    background-color: #E4D897;
}

.popular .box .text .colors {
    margin-bottom: 28px;
}

.popular .box .text .colors .color-1 {
    color: #E4D897;
    cursor: pointer;
    font-size: 20px;
}

.popular .box .text .colors .hover-color-1 {
    background-color: #E4D897;
    padding: 3px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.popular .box .text .colors .color-2 {
    color: #471E56;
    cursor: pointer;
    font-size: 20px;
}

.popular .box .text .colors .hover-color-2 {
    background-color: #471E56;
    padding: 3px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}


.popular .box .text .colors .color-3 {
    color: #fff;
    outline: 1px solid #AEAEAE;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.popular .box .text .colors .hover-color-3 {
    background-color: #c3c3be;
    padding: 3px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.popular .box .text .colors .color-4 {
    color: #6B7944;
    cursor: pointer;
    font-size: 20px;
}

.popular .box .text .colors .hover-color-4 {
    background-color: #6B7944;
    padding: 3px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.popular .box .text .main-btn {
    background-color: #FF2753;
    color: #fff;
    text-wrap: nowrap;
    font-weight: 600;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins';
    padding: 11px 22px;
    transition: all 0.3s linear;
}

.popular .box .text .main-btn:hover {
    background-color: #fff;
    color: #FF2753;
    border: 1px solid #DADBDF;
}

.popular .box .heart {
    position: absolute;
    padding: 3px 8px;
    background-color: #FF2753;
    color: #fff;
    top: 100px;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.popular .box .heart:hover {
    background-color: #fff;
    color: #FF2753;
}

.popular .row .last-sections {
    margin-top: -20px;
}

.popular .row .last-sections a {
    background-color: #fff;
    color: #FF2753EE;
    font-weight: 600;
    font-size: 20px;
    border-radius: 40px;
    border: 1px solid #FF2753EE;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins';
    padding: 7px 3.188rem;
    transition: all 0.3s linear;
}

.popular .row .last-sections a:hover {
    background-color: #FF2753EE;
    color: #fff;
}

@media (max-width: 768px) {
    .popular .box {
        padding: 180px 10px !important;
    }

    .popular .last-box {
        margin-bottom: 56px !important;
    }

    .popular .row {
        margin-top: 220px;
        margin-bottom: -10px;
    }

    .popular .box .heart {
        right: 24px;
    }

    .popular .row .last-sections {
        margin-top: 120px;
    }
}

@media (min-width:769px),
(max-width: 991px) {
    .popular .box {
        background-color: #FFF5FE;
        border-radius: 69px;
        position: relative;
        margin-bottom: 230px;
    }

    .popular .row {
        margin-top: 220px;
        margin-bottom: -100px;
    }

    .popular .box .circle {
        padding: 100px;
    }

    .popular .box .heart {
        right: 24px;
    }

    .popular .row .last-sections a {
        margin-top: -280px;
    }
}

/* end popular */


/* start About */
.about {
    margin: -16px 169px;
}

@media (max-width:768px) {
    .about {
        margin: -16px 5px;
    }
}

.about .row .text {
    margin: 113px 0;
    padding-right: 24px;
}

@media (max-width:991px) {

    .about .row .text {
        text-align: center;
        margin: 60px 0 60px;
        padding: 16px;
    }

}

.about .row .text .title h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 15px;
}


.about .row .text .title p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 48px;
    line-height: 160%;
    color: #585E71;
}

@media (max-width: 1355px) {
    .about .row .text .title h2 {
        font-size: 32px;
    }

    .about .row .text .title p {
        font-size: 16px;
    }
}

.about .row .feedback-text {
    padding-left: 10px;
}

.about .row .feedback-text h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    padding-top: 14px;
}

.about .row .feedback-text p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 14px;
}

/* end About */

/* Start Footer */
footer {
    position: relative;
    z-index: 1;
    background-color: #FFF5FE;
    padding: 100px 155px 20px 156px;
}

@media (max-width: 1180px) {
    footer {
        padding: 50px 0 20px 0;
    }
}

footer .container {
    padding: 0;
    padding-left: 24px;
    padding-right: 30px;
}

footer ul li {
    list-style: none;
}

footer ul {
    padding: 0;
}

footer a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    transition: all 0.3s ease;
}

footer a:hover {
    color: #C85ED7;
    font-weight: 600;
    border-bottom: 1px solid #C85ED7;
}

footer h5 {
    color: #242424;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.3px;
}



footer .footer-contact .logo {
    margin-bottom: 36px;
}

footer .footer-contact p {
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

@media (min-width: 991px) {
    footer .footer-contact p {
        width: 75%;
    }
}

footer .footer-contact div:first-of-type {
    margin-top: 27px;
    margin-bottom: 4px;
}


footer .copyright {
    margin-top: 117px;
}

@media (max-width: 991px) {
    footer .copyright {
        margin-top: 20px;
    }
}

footer .copyright p {
    color: #545454;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.257px;
    margin-top: 27px;
}

@media (max-width: 991px) {
    footer h5 {
        font-size: 28px;
        margin-bottom: 16px;
    }

    footer a {
        font-size: 20px;
    }

    footer .copyright p {
        font-size: 14px;
    }
}

footer .copyright svg {
    width: 90%;
}


/* end Footer */